---
const footerLinks = {
  services: [
    { label: 'Keyword Research & Strategy', href: '#services' },
    { label: 'On-Page Optimisation', href: '#services' },
    { label: 'Analytics & Reporting', href: '#services' },
    { label: 'Local SEO for Norway', href: '#services' },
    { label: 'SEO-Driven Content Marketing', href: '#services' },
    { label: 'Technical SEO', href: '#services' },
  ],
  company: [
    { label: 'About FjordBoost', href: '#about' },
    { label: 'Our Team', href: '#about' },
    { label: 'Join Our Team', href: '#contact' },
    { label: 'Contact', href: '#contact' },
    { label: 'Blog', href: '#contact' },
  ],
  resources: [
    { label: 'The FjordBoost SEO Guide', href: '#newsletter' },
    { label: 'Client Success Stories', href: '#testimonials' },
    { label: 'Free SEO Tools', href: '#newsletter' },
    { label: 'Expert SEO Webinars', href: '#newsletter' },
    { label: 'Client Support', href: '#contact' },
  ],
};

const socialLinks = [
  {
    icon: '/images/icons/facebook.svg',
    href: 'https://www.facebook.com/',
    label: 'Facebook',
  },
  {
    icon: '/images/icons/x.svg',
    href: 'https://x.com/',
    label: 'Twitter',
  },
  {
    icon: '/images/icons/linkedin.svg',
    href: 'https://www.linkedin.com/',
    label: 'LinkedIn',
  },
  {
    icon: '/images/icons/instagram.svg',
    href: 'https://www.instagram.com/',
    label: 'Instagram',
  },
];
---

<footer class='bg-secondary text-white'>
  <div
    class='grid md:grid-cols-2 lg:grid-cols-4 gap-8 lg:container lg:mx-auto px-5 py-12'
  >
    <section class='flex flex-col gap-4'>
      <h2 class='text-xl font-bold'>FjordBoost</h2>
      <p class='text-accent/90'>
        FjordBoost — Norway’s premium partner in <span
          class='uppercase'>seo</span
        > and digital optimisation. We empower businesses with tailored
        strategies, measurable growth, and lasting digital success.
      </p>
      <ul class='flex gap-4 mt-2'>
        {
          socialLinks.map((link) => (
            <li>
              <a
                href={link.href}
                class='hover:animate-pulse'
                target='_blank'
              >
                <span class='sr-only'>{link.label}</span>
                <img src={link.icon} alt='' class='h-5 w-5' />
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section class='flex flex-col gap-4'>
      <h2 class='font-semibold capitalize'>services</h2>
      <ul class='flex flex-col gap-2'>
        {
          footerLinks.services.map((footerLink) => (
            <li>
              <a
                href={footerLink.href}
                class='text-accent/90 hover:text-white transition-colors py-2 block'
              >
                {footerLink.label}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section class='flex flex-col gap-4'>
      <h2 class='font-semibold capitalize'>company</h2>
      <ul class='flex flex-col gap-2'>
        {
          footerLinks.company.map((footerLink) => (
            <li>
              <a
                href={footerLink.href}
                class='text-accent/90 hover:text-white transition-colors py-2 block'
              >
                {footerLink.label}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section class='flex flex-col gap-4'>
      <h2 class='font-semibold capitalize'>resources</h2>
      <ul class='flex flex-col gap-2'>
        {
          footerLinks.resources.map((footerLink) => (
            <li>
              <a
                href={footerLink.href}
                class='text-accent/90 hover:text-white transition-colors py-2 block'
              >
                {footerLink.label}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <div
      class='col-span-full border-t border-accent/50 md:flex md:flex-row md:flex-wrap md:gap-x-6 md:justify-between text-sm text-accent/90 mt-4 pt-8'
    >
      <div class='flex items-center mb-8'>
        <p class='py-2'>
          © 2025 FjordBoost. Empowering digital growth with premium
          <span class='uppercase'>seo</span> and optimisation solutions.
          All rights reserved.
        </p>
      </div>
      <div>
        <ul class='flex flex-col md:flex-row gap-6 capitalize'>
          <li>
            <a
              href='/privacy-policy'
              target='_blank'
              class='hover:text-white transition-colors py-2 block'
              >privacy policy</a
            >
          </li>
          <li>
            <a
              href='/terms-of-service'
              target='_blank'
              class='hover:text-white transition-colors py-2 block'
              >terms <span class='lowercase'>of</span> service</a
            >
          </li>
          <li>
            <a
              href='/cookie-policy'
              target='_blank'
              class='hover:text-white transition-colors py-2 block'
              >cookie policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
